{% extends "base.html.twig" %}
{% block title %}Welcome!{% endblock %}

{% block body %}
    <p>test</p>
    <div id="smart-search">
        <input type="text" id="search-input" placeholder="Ex : Hôtel avec piscine à Rotterdam" />
    </div>
{% endblock %}
