{% extends "base.html.twig" %}
{% block title %}Welcome!{% endblock %}

{% block body %}
    {% include "home/hero.html.twig" %}
    <div id="smart-search">
        <input type="text" id="search-input" placeholder="Ex : Hôtel avec piscine à Rotterdam"/>
    </div>



{% endblock %}
