@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.linear-background {
    background: linear-gradient(201deg, #1F1F1F 3.14%, #FFF 86.04%) !important;
}


.swipe-left {
    animation: swipeLeft 0.5s forwards;
}

.swipe-right {
    animation: swipeRight 0.5s forwards;
}

@keyframes swipeLeft {
    100% {
        transform: translateX(-100%) rotate(-5deg);
        opacity: 0;
    }
}

@keyframes swipeRight {
    100% {
        transform: translateX(100%) rotate(5deg);
        opacity: 0;
    }
}
