@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.linear-background {
    background: linear-gradient(201deg, #1F1F1F 3.14%, #FFF 86.04%) !important;
}
