{% extends 'base-bo.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-auto rounded-xl space-y-6">

        <h1 class="text-3xl font-bold text-black">Nouvel Utilisateur</h1>

        {{ include('user/_form.html.twig') }}

        <div class="flex justify-between items-center pt-4">
            <a href="{{ path('app_user_index') }}"
               class="inline-block bg-[#1F1F1F] text-white text-sm font-semibold px-4 py-2 rounded-md hover:bg-black transition">
                ← Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
